{% extends 'base.html' %}
{% block head %}
<title>{{params['database_title']}}</title>
{% endblock  %}

{% block body %}

    <!--mobile navigation bar start-->
    <div class="mobile_nav">
        <div class="nav_bar">
          <!--  <img src="1.png" class="mobile_profile_image" alt="">   -->
            <i class="fa fa-bars nav_btn"></i>
          </div>
      <div class="mobile_nav_items">
    
        <a href="/database"><i class="fas fa-desktop"></i><span>Home Page</span></a>
        {% for db_post in database_posts %}
        <a href="/database/database_post/{{db_post.slug}}"><i class="fas fa-desktop"></i><span>{{db_post.title}}</span></a>
        {% endfor %}

      </div>
    </div>

    <!--sidebar start-->
    <div class="sidebar">
        <a href="/database"><i class="fas fa-desktop"></i><span>Home Page</span></a>
        {% for db_post in database_posts %}
        <a href="/database/database_post/{{db_post.slug}}"><i class="fas fa-desktop"></i><span>{{db_post.title}}</span></a>
        {% endfor %}

    </div>
    <!--sidebar end-->

    <div class="content">
        <div class="card">
           <h1>{{database_post.subtitle}}</h1>
           <p>{{database_post.content}}</p>
          
       </div>
   </div>

   {% endblock body %}